1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [3]:
def add_numbers(a,b):
    return a + b

In [5]:
print(add_numbers(10,20))

30

2. Create a Python function called currency_converter() that takes two arguments:

- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.

The function should return a message showing how much the given amount is worth in the target currency (PKR).

In [15]:
def currency_converter(amount,exchange_rate=280):
    return f"Rs.{amount} is equal to {amount / exchange_rate:.2f} USD."

In [17]:
print(currency_converter(15000))

Rs.15000 is equal to 53.57 USD.

3. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.

In [73]:
def display_student_info(**kwargs):
    return f"Name: {kwargs["name"]}\nAge: {kwargs["age"]}\nGrade: {kwargs["grade"]}\nSchool: {kwargs["school"]}"

In [75]:
print(display_student_info(name="xyz",age=123,grade=456,school="abcd"))

Name: xyz
Age: 123
Grade: 456
School: abcd

4. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

In [23]:
def calculate_price(price,quantity):
    return price * quantity

In [25]:
print(calculate_price(15,42))

630

5. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Product: Laptop

Amazon: $800

eBay: $750

Walmart: $780

In [71]:
def display_prices(product,**kwargs):
    return f"Product: {product}\nAmazon: ${kwargs["amazon"]}\neBay: ${kwargs["ebay"]}\nWalmart: ${kwargs["walmart"]}"

print(display_prices("laptop",amazon="800",ebay="750",walmart="780"))

Product: laptop
Amazon: $800
eBay: $750
Walmart: $780

6. Write a Python function find_max that takes any number of numerical arguments and returns the maximum number.

In [27]:
def find_max(*args):
    return max(args)

In [29]:
print(find_max(10,20,30,40,90,50,60))

90

7. Write a Python function display_info that takes:
Positional arguments for the name and age of a person.
Keyword arguments for other personal details like address, phone number, and email.
Example Output:

- Name: Alice
- Age: 30
- Other Details:
    - address: 123 Main St
    - phone: 123-456-7890
    - email: alice@example.com

In [67]:
def display_info(name,age,**kwargs):
    return f"Name:{name}\nAge:{age}\nOther Details:\n\taddress:{kwargs["address"]}\n\tphone:{kwargs["phone"]}\n\temail:{kwargs["email"]}"

print(display_info("Alice","30",address="123 Main St",phone="123-456-789",email="alice@example.com"))

Name:Alice
Age:30
Other Details:
	address:123 Main St
	phone:123-456-789
	email:alice@example.com

8. products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15} ]

- Get names of in-stock products:

*Use list comprehension to generate a list of names for the products that are in stock.

- Calculate final prices for in-stock products after discount:

*For products that have a discount, calculate the final price by applying the discount.

*For products with no discount, keep the original price.

- Generate a list of tuples with the product name and its final price.

Example Output:

- In-stock product names: ['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
- Discounted prices: [('Laptop', 1080.0), ('Headphones', 120.0), ('Smartwatch', 300), ('Keyboard', 85.0)]

In [57]:
products = [ {"name": "Laptop", "price": 1200, "in_stock": True, "discount": 0.1}, 
            {"name": "Smartphone", "price": 800, "in_stock": False, "discount": 0.05}, 
            {"name": "Headphones", "price": 150, "in_stock": True, "discount": 0.2}, 
            {"name": "Smartwatch", "price": 300, "in_stock": True, "discount": 0}, 
            {"name": "Keyboard", "price": 100, "in_stock": True, "discount": 0.15}]
in_stock_items = [x["name"] for x in products if x["in_stock"]==True]
item_prices_after_discount_tuple = [(x["name"], int(x["price"]-(x["price"]*x["discount"]))) for x in products if x["in_stock"]==True]
prices_after_discount = [int(x["price"]-(x["price"]*x["discount"])) for x in products if x["in_stock"]==True]
print(in_stock_items)
print(prices_after_discount)
print(item_prices_after_discount_tuple)

['Laptop', 'Headphones', 'Smartwatch', 'Keyboard']
[1080, 120, 300, 85]
[('Laptop', 1080), ('Headphones', 120), ('Smartwatch', 300), ('Keyboard', 85)]

9.Create a list of even numbers between 1 and 20. (List Comprehension)

In [33]:
list_of_even_numbers = [x for x in range(1,21) if x%2==0]
print(list_of_even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

10. Create a list of numbers, generate a new list containing only the numbers that are divisible by 3 or 5. (List Comprehension)

In [35]:
new_list_1 = [x for x in range(1,21) if x%3==0 or x%5==0]
print(new_list_1)

[3, 5, 6, 9, 10, 12, 15, 18, 20]