1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [19]:
a = 15
b = 4
addition = a + b
difference = a - b
product = a * b
division = a / b
floorDivision = a // b
modulus = a % b
print(addition,difference,product,division,floorDivision,modulus, sep="\n")

19
11
60
3.75
3
3

2. Convert the following: 
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [23]:
num1 = 10
num2 = 5.6
num3 = 4.43
print(float(num1),int(num2),str(num3), sep="\n")

10.0
5
4.43

3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [27]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
print("First Fruit: ",fruits[0])
print("Last Fruit: "+ fruits[-1])
print("Fourth Fruit:"+" "+fruits[3])

First Fruit:  apple
Last Fruit: orange
Fourth Fruit: coconut

4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [37]:
numbers = [10, 20, 30, 40, 50]
print("First three elements: ",numbers[:3])
print("Last two Elements: ",numbers[3:5])
print("All elements except the first one: ",numbers[1:])
print("All elements except the last one: ",numbers[:4])
print("List in reverse using slicing: ",numbers[::-1])
print("Every second element: ",numbers[::2])

First three elements:  [10, 20, 30]
Last two Elements:  [40, 50]
All elements except the first one:  [20, 30, 40, 50]
All elements except the last one:  [10, 20, 30, 40]
List in reverse using slicing:  [50, 40, 30, 20, 10]
Every second element:  [10, 30, 50]

5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [41]:
nums = [1, 2, 3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [45]:
nums = [1, 2, 3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [47]:
nums = [1, 2, 3]
nums.extend([4,5])
print(nums)

[1, 2, 3, 4, 5]

8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [49]:
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [53]:
order = ["burger", "fries", "coke"]
order.append("ice cream")
#order.remove("biryani")
print(order)

['burger', 'fries', 'coke', 'ice cream']

10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [55]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers.insert(1,"Sara")
passengers.remove("Zara")
print(passengers[::-1])

['Ahmed', 'Sara', 'Ali']